# Build scripts
*.sh

# Node 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/

# Cache
.cache/

# macOS 
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build outputs
*.test
*.out

# Go workspace
bin/
pkg/
vendor/

# Project notes
notes/

# Vim sessions
.vim

# Executables
reorg-dev
reorg-prod

# Development testing
uploads
